* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.info {
  width: 100%;
  height: 670px;
  background: url(./assets/BG.png), lightgray -356.914px 0px / 151.922% 111.244% no-repeat;
}

@tailwind base;
@tailwind components;
@tailwind utilities;